services:
  api:
    build: .
    container_name: hydrolock-api
    ports:
      - "${HTTP_PORT}:${HTTP_PORT}"
    restart: always
    environment:
      - HTTP_PORT=${HTTP_PORT}
      - DB_HOST=db 
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    depends_on:
      - db

  db:
    image: postgres:18-alpine
    container_name: hydrolock-db
    ports:
      - "${DB_PORT}:5432"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: